---
import { Image } from 'astro:assets';
import reactjs from '../data/react.svg';
import nextjs from '../data/next.svg';
import nodejs from '../data/node.svg';
import fastapi from '../data/fastapi.svg';
import redux from '../data/redux.svg';
import expressjs from '../data/express.svg';
import mongodb from '../data/mongodb.svg';
import postgresql from '../data/postgresql.svg';
import motion from '../data/framer.svg';
import chartjs from '../data/chartjs.svg';
import typescript from '../data/typescript.svg';
import tailwindcss from '../data/tailwind.svg';

interface Props {
    name?: string,
    techstack?: string[],
    summary?: string,
    github?: string,
    live?: string; 
}

const { name, techstack, summary, github, live } = Astro.props;

let techstackLink = []

if (techstack) {
    for (let i = 0; i < techstack.length; i++) {
        if (techstack[i] === 'ReactJS') {
            techstackLink.push(reactjs);
        } else if (techstack[i] === 'NextJS') {
            techstackLink.push(nextjs);
        } else if (techstack[i] === 'TailwindCSS') {
            techstackLink.push(tailwindcss);
        } else if (techstack[i] === 'NodeJS') {
            techstackLink.push(nodejs);
        } else if (techstack[i] === 'FastAPI') {
            techstackLink.push(fastapi);
        } else if (techstack[i] === 'Redux') {
            techstackLink.push(redux);
        } else if (techstack[i] === 'ExpressJS') {
            techstackLink.push(expressjs);
        } else if (techstack[i] === 'MongoDB') {
            techstackLink.push(mongodb);
        } else if (techstack[i] === 'PostgreSQL') {
            techstackLink.push(postgresql);
        } else if (techstack[i] === 'Motion') {
            techstackLink.push(motion);
        } else if (techstack[i] === 'ChartJS') {
            techstackLink.push(chartjs);
        } else if (techstack[i] === 'TypeScript') {
            techstackLink.push(typescript);
        }
    }
}
---

<div class="flex justify-between lg:w-[62rem] border-b p-1 py-4">
    <div class="flex flex-col">
        <p class="text-lg font-medium">{name}</p>
        <p class="text-sm font-light">{summary}</p>
        <div class="text-sm font-light italic my-2 flex gap-1">
            {
                techstackLink.map((tech) => (
                    <Image src={tech} alt="tech" height={80} width={80} loading="eager" />
                ))
            }
        </div>
    </div>
    <div class="flex flex-col justify-center items-center gap-1">
        { 
            live && <a aria-label="link to live demo of the project" class="cursor-pointer underline underline-offset-2 hover:text-purple-500" href={live}>live</a>
        }
        {
            summary && <p class="cursor-pointer underline underline-offset-2 hover:text-purple-500">read</p>
        }
        {
            github && <a aria-label="link to github repository of the project" class="cursor-pointer underline underline-offset-2 hover:text-purple-500" href={github}>github</a>
        }
    </div>
</div>