---
import { Image } from 'astro:assets';
import reactjs from '../data/react.svg';
import Card from './card.astro';
import nextjs from '../data/next.svg';
import nodejs from '../data/node.svg';
import fastapi from '../data/fastapi.svg';
import redux from '../data/redux.svg';
import expressjs from '../data/express.svg';
import mongodb from '../data/mongodb.svg';
import postgresql from '../data/postgresql.svg';
import motion from '../data/framer.svg';
import chartjs from '../data/chartjs.svg';
import typescript from '../data/typescript.svg';
import tailwindcss from '../data/tailwind.svg';
import langchain from '../data/LangChain_Logo.svg';
import huggingface from '../data/huggingface.svg';
import chromadb from '../data/chroma.svg';

interface Props {
    name?: string,
    techstack?: string[],
    summary?: string,
    github?: string,
    live?: string;
    class?: string;
}

const { name, techstack, summary, github, live } = Astro.props;

let techstackLink = []

if (techstack) {
    for (let i = 0; i < techstack.length; i++) {
        if (techstack[i] === 'ReactJS') {
            techstackLink.push(reactjs);
        } else if (techstack[i] === 'NextJS') {
            techstackLink.push(nextjs);
        } else if (techstack[i] === 'TailwindCSS') {
            techstackLink.push(tailwindcss);
        } else if (techstack[i] === 'NodeJS') {
            techstackLink.push(nodejs);
        } else if (techstack[i] === 'FastAPI') {
            techstackLink.push(fastapi);
        } else if (techstack[i] === 'Redux') {
            techstackLink.push(redux);
        } else if (techstack[i] === 'ExpressJS') {
            techstackLink.push(expressjs);
        } else if (techstack[i] === 'MongoDB') {
            techstackLink.push(mongodb);
        } else if (techstack[i] === 'PostgreSQL') {
            techstackLink.push(postgresql);
        } else if (techstack[i] === 'Motion') {
            techstackLink.push(motion);
        } else if (techstack[i] === 'ChartJS') {
            techstackLink.push(chartjs);
        } else if (techstack[i] === 'TypeScript') {
            techstackLink.push(typescript);
        } else if (techstack[i] === 'Langchain') {
            techstackLink.push(langchain);
        } else if (techstack[i] === 'HuggingFace') {
            techstackLink.push(huggingface);
        } else if (techstack[i] === 'ChromaDB') {
            techstackLink.push(chromadb);
        }
    }
}
---

<Card class={Astro.props.class}>
    <div class="flex flex-col h-full justify-between">
        <div>
            <p class="text-xl font-medium mb-2">{name}</p>
            <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">{summary}</p>
        </div>
        <div class="flex flex-col gap-4 mt-auto pt-4">
            <div class="grid grid-cols-4 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-2 w-full">
                {
                    techstack && techstack.map((techName, index) => {
                        const needsWhiteBg = ['Langchain', 'HuggingFace', 'ChromaDB'].includes(techName);
                        return (
                            <div data-tooltip-placement="bottom" class={`flex items-center justify-center p-2 rounded-md border border-neutral-200 dark:border-neutral-700 w-full h-12 ${needsWhiteBg ? 'bg-white special-badge' : 'bg-neutral-100 dark:bg-neutral-800'}`} title={techName}>
                                <Image src={techstackLink[index]} alt={techName} class="w-full h-full object-contain" loading="lazy" />
                            </div>
                        );
                    })
                }
            </div>
            <div class="flex gap-4 text-sm font-medium">
                { 
                    live && <a aria-label={`Live demo of ${name}`} class="cursor-pointer hover:text-blue-500 transition-colors" href={live} target="_blank" rel="noopener noreferrer">Live</a>
                }
                {
                    github && <a aria-label={`Github repo of ${name}`} class="cursor-pointer hover:text-blue-500 transition-colors" href={github} target="_blank" rel="noopener noreferrer">GitHub</a>
                }
                <!-- {
                    read && <a aria-label={`Read more about ${name}`} class="cursor-pointer hover:text-blue-500 transition-colors" href={read} target="_blank" rel="noopener noreferrer">Read More</a>
                } -->
            </div>
        </div>
    </div>
</Card>